@model Car
<html>
<head>
    <title>
        New Car Record
    </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
      <div class="container">

        <div class="row">
            <form method="post" asp-action="Create" asp-controller="Car">
                <div class="col-md-6  offset-3">

                    <div class="form-group">
                        <label>SrNo</label>
                        <input type="text" asp-for="@Model.SrNo" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Owner Name</label>
                        <input type="text" asp-for="@Model.OwnerName" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Car Name</label>
                        <input type="text" asp-for="@Model.CarName" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Car Model Year</label>
                        <input type="text" asp-for="@Model.CarModelYear" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Fuel Type</label>
                        <input type="text" asp-for="@Model.FuelType" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Insurance Expiry Year</label>
                        <input type="text" asp-for="@Model.CarInsuranceYear" class="form-control" />
                    </div>
                    
                    <div class="form-group">
                        <button class="btn btn-primary">Submit</button>

                    </div>


                </div>
            </form>
        </div>
    </div>



</body>
</html>
