@model List<Car>

	<html>
		<head>
			<title>
				Cars List
			</title>
			<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
		</head>
		<body>
			<table class="table tbl-primary">
				<thead>
					<tr>
						
				<th>
					Car ID
				</th>

				<th>
					Owner Name
				</th>

				<th>
					Car Name
				</th>

				<th>
					Car Model Year
				</th>

				<th>
					Fuel Type
				</th>

				<th>
					Car Insurance Year
				</th>
				
			</tr>
				</thead>

				<tbody>
			@{
				foreach (Car car in Model)

				{
					<tr>
						<td>@car.ID</td>
						<td>@car.OwnerName</td>
						<td>@car.CarName</td>
						<td>@car.CarModelYear</td>
						<td>@car.FuelType</td>
						<td>@car.CarInsuranceYear</td>
						<td><a href=/Car/Delete/@car.ID onclick="return confirm('Do you want to delete this record?')">Delete</a></td>
						<td><a href=/Car/Update/@car.ID>Update</a></td>
					</tr>
				}
			}
				
				</tbody>
			</table>
	<a href="/Car/Create">Add New Car</a>
		</body>
	</html>